opencv-python-headless==5.0.0.93
scipy==1.18.0
numpy==2.5.1
tensorboardX==2.6.5
matplotlib
tqdm
scikit-learn
# open3d==0.18.0 # If use camera, need to install open3d.
# pyrealsense2==2.56.5.923 # If use camera, need to install pyrealsense2.
